<h1>What goes with <%= @ingredient.name %></h1>
<ul>
  <% @ingredient.pairs.each do |pair| %>
    <li><%= @ingredient == pair.ingredient_1 ? pair.ingredient_2.name : pair.ingredient_1.name %> </li>
  <% end %>
</ul>
