<h1>What goes with <%= @ingredient.name %>?</h1>

<% @ingredient.pairs.each do |pair| %>
  <%= link_to pair_path(pair), class: "card" do %>
    <h4><%= @ingredient == pair.ingredient_1 ? pair.ingredient_2.name : pair.ingredient_1.name %></h4>
  <% end %>
<% end %>
